.mainbody{
    background: radial-gradient(
    circle,
    rgba(49, 32, 84, 1) 16%,
    rgba(9, 3, 14, 1) 100%);
    padding-bottom: 10px;
}
.tab {
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    font-weight: 700;
    transition: 0.6s;
    box-shadow: 0px 0px 60px #1f4c65;
    -webkit-box-reflect: below 5px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}
.tab:hover {
    background: rgb(2,29,78);
    background: linear-gradient(270deg, rgb(116, 116, 213)0%, rgba(100, 55, 182, 0.873) 60%);
    color: rgb(182, 182, 182); 
}

.disNone{
    display: none !important;
}

.disApp {
    @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 justify-items-center items-center w-full bg-[radial-gradient(_circle,rgb(144,120,191)_16%,rgb(15,2,26)_100%)] mt-[30px] px-[30px] py-0 rounded-[30px];
    background: radial-gradient(
      circle,
      rgba(9, 3, 14, 1) 16%,
      rgba(49, 32, 84, 1) 100%
    );
  }
  

.navbar {
    /* transform: translateY(-730px); */
    text-transform: uppercase;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 0.4rem;
    flex-direction: row;
    min-width: 60vw;
}

.navbar a{
    font-weight: 700;
}


.navbar a:hover{
    box-shadow: 0px 0px 60px #1f4c65;
    padding: 5px;
    transition: 0.6s;
    background: radial-gradient(circle,
    rgb(60, 39, 103) 16%,
    rgb(26, 9, 40) 100%);
}